<!-- Modern dark theme footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% if site.social-network-links.email %}
          <li class="list-inline-item">
            <a href="mailto:{{ site.social-network-links.email }}" title="Email me">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          
          {% if site.social-network-links.github %}
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.social-network-links.github }}" title="GitHub">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          
          {% if site.social-network-links.linkedin %}
          <li class="list-inline-item">
            <a href="https://linkedin.com/in/{{ site.social-network-links.linkedin }}" title="LinkedIn">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          
          {% if site.social-network-links.twitter %}
          <li class="list-inline-item">
            <a href="https://twitter.com/{{ site.social-network-links.twitter }}" title="Twitter">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
        
        <p class="copyright text-center mt-4">
          {{ site.author }} &copy; {{ site.time | date: '%Y' }}
        </p>
      </div>
    </div>
  </div>
</footer> 